
*{
    background-color: rgb(208, 233, 243);
}
.title{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    
    
    
}

video{
    width: 100%;
}
.search{
    align-items: center;
    margin-top: 25px;
    
    
}
.search>input{
    border: 2px solid black;
    background-color: blanchedalmond;
    
}
.menuitem{
    font-size: 20px;
    text-transform:uppercase;
    
    
    


}
.btn{
    color: black;
    padding: 12px 20px;
    border: black;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(to left, #3399ff 0%, #cc66ff 100%);
    
}
a{
    text-decoration: none;
    background: linear-gradient(to left, #3399ff 0%, #cc66ff 100%);

}
a:hover{
    background:linear-gradient(to left, #66ffff 0%, #9999ff 100%);

}
.btn:hover{
    background:linear-gradient(to left, #66ffff 0%, #9999ff 100%);
}
.menuitem>a{
    
    text-decoration: none;
    background-color: maroon;
    border: 2px solid black;
    color: white;
    border-radius: 15px;
    padding: 8px;
   
    
}
.menuitem>a:hover{
    background-color:rgb(201, 86, 86);
    color: black;
}
h2{
    text-align: center;
}
.font1{
    
    font-size: 22px;
    
    
}
h1{
    color: #02247e;
}


input[type=text], input[type=email],select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    
  }
  
  
  input[type=submit] {
    background: linear-gradient(to left, #3399ff 0%, #cc66ff 100%);
   
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    
    background:linear-gradient(to left, #66ffff 0%, #9999ff 100%);
  }
  
  
  
  